.out-of-date {
	padding: 5px;
	margin-bottom: 10px;
}
.top {
	position: fixed;
	top: 40px;
	margin-left: calc(0.50*100%);
	left: -25%;
	z-index: 2;
}	
.top-left {
	position: fixed;
	top: 40px;
	left: 0;
	z-index: 2;
}
.top-right {
	position: fixed;
	top: 40px;
	right: 0;
	z-index: 2;
}
.bottom {
	position: fixed;
	bottom: 60px;
	z-index: 2;
	margin-left: calc(0.50*100%);
	left: -25%;
}
.bottom-left {
	position: fixed;
	bottom: 60px;
	left: 0;
	z-index: 2;
}
.bottom-right {
	position: fixed;
	bottom: 60px;
	right: 0;
	z-index: 2;
}